aquamapsservice-service/my-container
aquamapsservice-service/org.gcube.tools-my-container-tar.gz-distro-2.0.0-SNAPSHOT.marker
aquamapsservice-service/target
aquamapsservice-stubs/target
/exported.csv
/exported_mini.csv
