* text=auto !eol
.settings/org.eclipse.core.resources.prefs -text
aquamapsservice-fwk/.classpath -text
aquamapsservice-fwk/.project -text
aquamapsservice-fwk/.settings/org.eclipse.core.resources.prefs -text
aquamapsservice-fwk/.settings/org.eclipse.jdt.core.prefs -text
aquamapsservice-fwk/.settings/org.eclipse.m2e.core.prefs -text
aquamapsservice-fwk/pom.xml -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Analysis.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/AquaMap.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/AquaMapsObject.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Area.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/BoundingBox.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Cell.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/DataModel.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Envelope.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Field.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/File.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Filter.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Job.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Perturbation.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Resource.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Species.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Submitted.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/environments/ComputationalInfrastructure.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/environments/EnvironmentalExecutionReportItem.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/environments/ExecutionEnvironment.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/environments/Parameters.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/environments/SourceGenerationRequest.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/AnalysisFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/EnvelopeFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/ExecutionEnvironmentFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/FilesFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/HCAF_DFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/HCAF_SFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/HSPECFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/HspenFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/MetaSourceFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/OccurrenceCellsFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/SourceGenerationRequestFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/SpeciesOccursumFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/SubmittedFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/CDL.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/Cookie.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/CookieList.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/HTTP.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/HTTPTokener.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONArray.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONException.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONML.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONObject.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONString.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONStringer.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONTokener.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONWriter.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/XML.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/XMLTokener.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/AlgorithmType.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/AnalysisType.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/AreaType.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/FieldType.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/FileFields.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/FileType.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/FilterType.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/LogicType.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/ObjectType.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/PerturbationType.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/ResourceStatus.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/ResourceType.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/SourceGenerationPhase.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/SubmittedStatus.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/utils/CSVUtils.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/xstream/AquaMapsXStream.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/xstream/EnvelopeConverter.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/xstream/converters/EnvMapConverter.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/AquaMapsCall.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/AquaMapsServiceCall.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/AquaMapsServiceInterface.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/Constant.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/DataManagementCall.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/DataManagementInterface.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/PublisherInterface.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/PublisherServiceCall.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/ServiceException.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/utils/AppZip.java -text
aquamapsservice-fwk/src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/utils/RSWrapper.java -text
aquamapsservice-fwk/src/main/java/org/gcube/common/gis/datamodel/enhanced/BoundsInfo.java -text
aquamapsservice-fwk/src/main/java/org/gcube/common/gis/datamodel/enhanced/LayerInfo.java -text
aquamapsservice-fwk/src/main/java/org/gcube/common/gis/datamodel/enhanced/TransectInfo.java -text
aquamapsservice-fwk/src/main/java/org/gcube/common/gis/datamodel/enhanced/WMSContextInfo.java -text
aquamapsservice-fwk/src/main/java/org/gcube/common/gis/datamodel/types/LayersType.java -text
aquamapsservice-fwk/src/main/java/org/gcube/common/gis/datamodel/utils/ReadTemplate.java -text
aquamapsservice-fwk/src/main/java/org/gcube/common/gis/datamodel/utils/Utils.java -text
aquamapsservice-fwk/src/main/resources/org/gcube/common/gis/datamodel/resources/template/BiodiversityTemplate.xml -text
aquamapsservice-fwk/src/main/resources/org/gcube/common/gis/datamodel/resources/template/EnvironmentTemplate.xml -text
aquamapsservice-fwk/src/main/resources/org/gcube/common/gis/datamodel/resources/template/PointMapTemplate.xml -text
aquamapsservice-fwk/src/main/resources/org/gcube/common/gis/datamodel/resources/template/PredictionTemplate.xml -text
aquamapsservice-fwk/src/main/resources/org/gcube/common/gis/datamodel/resources/template/WMSContext.xml -text
aquamapsservice-service/.classpath -text
aquamapsservice-service/.project -text
aquamapsservice-service/.settings/org.eclipse.core.resources.prefs -text
aquamapsservice-service/.settings/org.eclipse.jdt.core.prefs -text
aquamapsservice-service/.settings/org.eclipse.m2e.core.prefs -text
aquamapsservice-service/pom.xml -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/AquaMapsService.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/CommonServiceLogic.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/DataManagement.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/PublisherService.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/ServiceContext.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/DBSession.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/DBUtils.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/MySQLDBSession.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/PoolManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/PostGresSQLDBSession.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/AnalysisTableManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/AquaMapsManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/CellManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/CustomQueryManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/JobManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/SourceGenerationRequestsManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/SourceManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/SpeciesManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/SpeciesStatus.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/SubmittedManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/threads/DeletionMonitor.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/threads/QueryConstructurThread.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/threads/SourceImporter.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/threads/StatefullCSVLineProcessor.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisMonitor.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisRequest.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisResponseDescriptor.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisUpdaterThread.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisWorker.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/Analyzer.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalyzerFactory.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalyzerManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/ImageDescriptor.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/AquaMapsObjectData.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/AquaMapsObjectWorker.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/BiodiversityObjectExecutionRequest.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/DistributionObjectExecutionRequest.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/JobExecutionManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/JobWorker.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/RequestsMonitor.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/BatchGenerator.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/BatchGeneratorI.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/BatchGeneratorObjectFactory.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/EnvironmentalLogicManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/Report.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/SimpleGenerator.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/SimpleGeneratorI.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/TableGenerationConfiguration.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/utils/ModelTranslation.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/tables/EnvironmentalStatusUpdateThread.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/tables/Execution.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/tables/HSPECGroupMonitor.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/tables/HSPECGroupWorker.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/tables/TableGenerationExecutionManager.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/monitor/HSQLDB.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/monitor/ReportItem.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/monitor/StatusMonitorThread.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/AquaMapsObjectExecutionRequest.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/BadRequestException.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/FileSetUtils.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/GenerationRequest.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/Generator.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/GISRequest.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/GISUtils.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/GroupGenerationRequest.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/LayerGenerationRequest.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/StyleGenerationRequest.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/WMSGenerationRequest.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/util/ExtendedExecutor.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/util/MyPooledExecutor.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/util/PropertiesConstants.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/util/PropertiesReader.java -text
aquamapsservice-service/src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/util/ServiceUtils.java -text
aquamapsservice-stubs/.classpath -text
aquamapsservice-stubs/.project -text
aquamapsservice-stubs/.settings/org.eclipse.core.resources.prefs -text
aquamapsservice-stubs/.settings/org.eclipse.jdt.core.prefs -text
aquamapsservice-stubs/.settings/org.eclipse.m2e.core.prefs -text
aquamapsservice-stubs/pom.xml -text
distro/INSTALL -text
distro/LICENSE -text
distro/MAINTAINERS -text
distro/README -text
distro/changelog.xml -text
distro/descriptor.xml -text
/pom.xml -text
wsdl/AquaMapsService.wsdl -text
wsdl/AquaMapsTypes.wsdl -text
wsdl/AquaMapsTypes.xsd -text
wsdl/DataManagement.wsdl -text
wsdl/GISTypes.xsd -text
wsdl/PublisherService.wsdl -text
