* text=auto !eol
/.ant-targets-build.xml -text
/.classpath -text
/.project -text
/CHANGELOG -text
/INSTALL -text
/LICENSE -text
/MAINTAINERS -text
/README -text
/build.xml -text
/changelog.xml -text
etc/DB/ChangesToAquaMapsDB.sql -text
etc/build.properties -text
etc/config.properties -text
etc/deploy-jndi-config.xml -text
etc/deploy-server.wsdd -text
etc/generator/ALog.properties -text
etc/generator/DestinationDBHibernate.cfg.xml -text
etc/jndi-config.xml -text
etc/profile.xml -text
etc/registration.xml -text
etc/security_descriptor.xml -text
etc/server-config.wsdd -text
/install.sh -text
schema/AquaMapsService.wsdl -text
schema/AquaMapsTypes.wsdl -text
schema/AquaMapsTypes.xsd -text
schema/DataManagement.wsdl -text
schema/GISTypes.xsd -text
schema/PublisherService.wsdl -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/AquaMapsService.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/CommonServiceLogic.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/DataManagement.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/PublisherService.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/ServiceContext.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/DBSession.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/DBUtils.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/MySQLDBSession.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/PoolManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/PostGresSQLDBSession.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/AnalysisTableManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/AquaMapsManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/CellManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/CustomQueryManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/JobManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/SourceGenerationRequestsManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/SourceManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/SpeciesManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/SpeciesStatus.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/SubmittedManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/threads/DeletionMonitor.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/threads/QueryConstructurThread.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/threads/SourceImporter.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/db/managers/threads/StatefullCSVLineProcessor.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisMonitor.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisRequest.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisResponseDescriptor.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisUpdaterThread.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalysisWorker.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/Analyzer.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalyzerFactory.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/AnalyzerManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/analysis/ImageDescriptor.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/AquaMapsObjectData.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/AquaMapsObjectWorker.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/BiodiversityObjectExecutionRequest.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/DistributionObjectExecutionRequest.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/JobExecutionManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/JobWorker.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/maps/RequestsMonitor.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/BatchGenerator.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/BatchGeneratorI.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/BatchGeneratorObjectFactory.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/EnvironmentalLogicManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/Report.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/SimpleGenerator.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/SimpleGeneratorI.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/TableGenerationConfiguration.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/predictions/utils/ModelTranslation.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/tables/EnvironmentalStatusUpdateThread.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/tables/Execution.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/tables/HSPECGroupMonitor.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/tables/HSPECGroupWorker.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/engine/tables/TableGenerationExecutionManager.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/monitor/HSQLDB.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/monitor/ReportItem.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/monitor/StatusMonitorThread.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/AquaMapsObjectExecutionRequest.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/BadRequestException.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/FileSetUtils.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/GenerationRequest.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/Generator.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/GISRequest.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/GISUtils.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/GroupGenerationRequest.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/LayerGenerationRequest.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/StyleGenerationRequest.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/publishing/gis/WMSGenerationRequest.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/util/ExtendedExecutor.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/util/MyPooledExecutor.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/util/PropertiesConstants.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/util/PropertiesReader.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/impl/util/ServiceUtils.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Analysis.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/AquaMap.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/AquaMapsObject.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Area.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/BoundingBox.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Cell.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/DataModel.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Envelope.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Field.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/File.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Filter.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Job.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Perturbation.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Resource.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Species.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/enhanced/Submitted.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/environments/ComputationalInfrastructure.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/environments/EnvironmentalExecutionReportItem.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/environments/ExecutionEnvironment.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/environments/Parameters.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/environments/SourceGenerationRequest.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/AnalysisFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/EnvelopeFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/ExecutionEnvironmentFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/FilesFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/HCAF_DFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/HCAF_SFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/HSPECFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/HspenFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/MetaSourceFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/OccurrenceCellsFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/SourceGenerationRequestFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/SpeciesOccursumFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/fields/SubmittedFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/CDL.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/Cookie.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/CookieList.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/HTTP.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/HTTPTokener.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONArray.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONException.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONML.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONObject.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONString.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONStringer.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONTokener.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/JSONWriter.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/Test.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/XML.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/json/XMLTokener.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/AlgorithmType.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/AnalysisType.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/AreaType.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/FieldType.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/FileFields.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/FileType.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/FilterType.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/LogicType.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/ObjectType.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/PerturbationType.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/ResourceStatus.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/ResourceType.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/SourceGenerationPhase.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/types/SubmittedStatus.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/utils/CSVUtils.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/xstream/AquaMapsXStream.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/xstream/EnvelopeConverter.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/datamodel/xstream/converters/EnvMapConverter.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/AquaMapsCall.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/AquaMapsServiceCall.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/AquaMapsServiceInterface.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/Constant.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/DataManagementCall.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/DataManagementInterface.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/PublisherInterface.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/PublisherServiceCall.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/ServiceException.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/utils/AppZip.java -text
src/main/java/org/gcube/application/aquamaps/aquamapsservice/stubs/wrapper/utils/RSWrapper.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/AquaMapsServiceTester.class -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/AquaMapsServiceTester.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/BrokenPipeIssueTest.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/CSVReader.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/DBConnectionTest.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/DMTest.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/DataModelTest.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/DummyObjects.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/ExecutorTesting.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/HSQLDBTest.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/LayerPubblicationTest.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/MD5Test.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/ModelTest.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/PercentUpdateTest.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/ProfileRetrievalTest.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/StyleGeneration.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/WrapperTest.java -text
src/test/java/org/gcube/application/aquamaps/aquamapsservice/XStreamTest.java -text
